* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding: 36px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.container p {
    font-size: 14pt;
    margin: 16px 0;
    text-align: justify;
}


.image {
    height: 100%;
    width: 100%;
    margin-bottom: 16px;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: white;
    min-width: 320px;
    /* background-color: aqua; */
}

.countdown-item {
    background-color: rgb(43, 63, 158);
    padding: 6px;
    min-width: 65px;
}